/* 모달 헤더 */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 사용자 아이콘과 게시판명 */
.modal-header-left {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-header-left p {
  margin: 0;
  font-size: 0.85rem;
  color: #333333;
}

/* 작성일 스타일 */
.modal-header-right {
  font-size: 0.85rem;
  color: #666;
  text-align: right;
  position: relative;
}

/* 닫기 버튼 스타일 */
.modal-header-close:hover {
  color: #ff3333;
  cursor: pointer;
}

/* 상단 구분선 */
.top-divider {
  margin: 10px 0 20px 0;
  border: none;
  border-top: 5px solid #000000;
}

/* 중간 구분선 */
.mid-divider {
  margin: 10px 0 10px 0; /* 중간 구분선은 원래 위치 유지 */
  border: none;
  border-top: 2px solid #000000;
}

/* 하단 구분선 */
.bottom-divider {
  margin: 40px 0; /* 하단 구분선은 기존 설정 유지 */
  border: none;
  border-top: 5px solid #000000;
}

/* 모달 내용 */
.modal-content {
  margin-top: 15px;
}

.modal-comment-content {
  font-size: 1rem;
  color: #333333;
  line-height: 1.6;
  margin-top: 50px;
}

/* 모달 푸터 */
.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 삭제 버튼 */
.modal-footer-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer-button:hover {
  background-color: #ff3333;
}

/* 취소 버튼 */
.modal-footer-cancel {
  background-color: #cccccc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.modal-footer-cancel:hover {
  background-color: #999999;
}

.modal-content {
  max-height: 400px; /* 모달의 최대 높이를 설정 */
  overflow-y: auto; /* 내용이 길 경우 스크롤 가능하도록 설정 */
  padding: 16px; /* 모달 내부의 여백을 추가 */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modal-comment-content {
  white-space: pre-wrap; /* 줄바꿈을 유지하며 글 표시 */
  word-wrap: break-word; /* 긴 단어는 자동으로 줄 바꿈 */
}
