/* 댓글 입력창 컨테이너 스타일 */
.comment-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px; /* 컨테이너가 박스로 보이도록 패딩 추가 */
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 40px;

  width: 100%;
  background-color: white; /* 배경색 추가 */
}

/* 댓글 입력 필드 스타일 */
.commentForm-textarea {
  width: 100%;
  padding: 10px;
  border: none; /* 테두리 제거 */
  font-size: 1rem;
  height: 150px;
  margin-top: -10px;
  margin-bottom: -20px;
  resize: none; /* 크기 조정 금지 */
  outline: none; /* 포커스 시 테두리 제거 */
  background-color: transparent; /* 투명 배경 */
}

/* 댓글 등록 버튼 스타일 */
.comment-submit-button {
  align-self: flex-end;
  margin: initial;
  margin-top: 30px;
}

button.sc-fIfZzT.gZGqmE.comment-submit-button {
  margin: initial;
  margin-top: 30px;
}

.commentForm-textarea::placeholder {
  font-size: 0.9rem;
  color: #999; /* 플레이스홀더 글자 색상도 변경 가능 */
}
