/* CommunityForm 전용 폼 스타일 */
/* .community-form .post-form {
  width: 100%;
} */

.community-form .form-group {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
  /* margin-bottom: 20px; */
}

.community-form .form-group label {
  width: 90px;
  gap: 10px;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
}

.community-form .form-control {
  flex: 1;
  padding: 1px;
  border: none;
  font-size: 1rem;
}

.community-form .char-counter {
  text-align: right;
  color: #666;
  font-size: 0.9rem;
  margin-top: 5px;
}

.community-form .submit-btn {
  margin-top: 50px !important;
}

/* 기본 파일 선택 스타일을 변경 */
.custom-file-upload {
  width: 130px !important;
  text-align: center !important;
  height: 30px;
  background: #fff;
  border: 1px solid #d2d2d2 !important;
  border-radius: 10px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background: #d2d2d2 !important;
  color: black;
}

/* 10-17 빨갱이 */
.inquiry-form input:focus {
  outline: none; /* 기본 브라우저 스타일 제거 */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* 원하는 스타일 추가 */
  border-color: #d71e17; /* 경계선을 빨간색으로 변경 */
}
